doctype html
html(lang='en')
  head
    title='Danny Bowman'

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='author', content='Danny Bowman')
    meta(name='description', content='The online home of Danny Bowman')
    meta(name='google-site-verification', content='5cwhm8FTy_nylEyfRvGM-5WftSB-yNAtvZKIhnI-x_s')
    meta(name='viewport', content='width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui')

    // Prefetch top images of work and music pages.
    link(rel='prefetch', href='/images/tale.png')
    link(rel='prefetch', href='/images/livinglossures.png')
    link(rel='prefetch', href='/images/creeps.jpg')

    // DNS prefetch typekit for fonts.
    link(rel='dns-prefetch', href='https://use.typekit.net')
    link(rel='prefetch', href='https://use.typekit.net/huw2ant.js')

    // Typekit (advanced)
    script.
      (function(d) {
        var config = {
          kitId: 'huw2ant',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);

    unless development
      link(rel='stylesheet', type='text/css', href=`${base}/static/main.css`)

  body
    #app!= content

  script.
    window.data = !{data};

  // Google Analytics
  script(type='text/javascript').
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25819780-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  script(src=`${base}/static/vendor.js`, defer)
  script(src=`${base}/static/main.js`, defer)

